<% title "#{@blog.name}"%>
<p>
  <b>Name:</b>
  <%=h @blog.name %>
</p>
   發表于<%= @blog.due_at %>
<p>
  <b>Body:</b>
  <%=h @blog.body %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>